In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [2]:
# Track File Source
import os
cwd = os.getcwd()
cwd

'D:\\Ali\\BootCamp\\Challenge\\Starter_Code-Module_4_Challenge\\Solution\\pandas-challenge\\PyCitySchools'

In [3]:
# Format change:
money_format=lambda x:"${:,.2f}".format(x)
number_format=lambda x:"{:,}".format(x)
round_format=lambda x:"{:.2f}".format(x)

In [4]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd. read_csv(school_data_to_load, encoding="ISO-8859-1")
student_data = pd.read_csv(student_data_to_load, encoding="ISO-8859-1")

In [5]:
# School DataFrame
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
# Student DataFrame
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:
# Total Number of Schools
total_schools=school_data["school_name"].count()

# Total Number of Students
total_students=student_data["Student ID"].count()

# Total Budget
total_Budget=school_data["budget"].sum()

# Average Math Score
average_mass_score=round(student_data["math_score"].mean(),6)

# Average Reading Score
average_reading_score=round(student_data["reading_score"].mean(),6)

# Percentage of Students with a Passing Math Score (70 or Greater)
percent_Passing_math = round(((student_data.loc[student_data["math_score"] >= 70, :]["Student ID"].count()
                               )/total_students)*100,6)

# Percentage of Students with a Passing Reading Score (70 or Greater)
percent_Passing_Reading = round(((student_data.loc[student_data["reading_score"] >= 70, :]["Student ID"].count()
                               )/total_students)*100,6)

# Percentage of Students who Passed Math and Reading (% Overall Passing)
percent_overall_passing=round(((student_data.loc[(student_data["math_score"] >= 70) & (
    student_data["reading_score"] >= 70), :]["Student ID"].count())/total_students)*100,6)

# Dataframe
district_summary=pd.DataFrame({
"Total Schools": [total_schools],
"Total Students": [number_format(total_students)],
"Total Budget":[money_format(total_Budget)],
"Average Mass Score":[round_format(average_mass_score)],
"Average Reading Score":[round_format(average_reading_score)],
"% Passing Mass":[round_format(percent_Passing_math)],
"% Passing Reading":[round_format(percent_Passing_Reading)],
"% Overall Passing":[round_format(percent_overall_passing)]})
district_summary

,Total Schools,Total Students,Total Budget,Average Mass Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

# School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
# School Name
# school_name_unique=school_data_complete["school_name"].unique()

# School Type
school_type = school_data.set_index(["school_name"])["type"]

# Total Number of Students per School
school_student=school_data_complete["school_name"].value_counts()

# Total School Budget
school_budget = school_data.set_index(["school_name"])["budget"]

# Per Student Budget
per_student_budget = school_budget / school_student

# Average Math Score
school_average_mass_score=school_data_complete.groupby(["school_name"])["math_score"].mean()

# Average Reading Score
school_average_reading_score=school_data_complete.groupby(["school_name"])["reading_score"].mean()

# % Passing Math
school_Passing_math = round(((school_data_complete.loc[(school_data_complete["math_score"] >= 70)].groupby(
    ["school_name"])["student_name"].count())/school_student)*100,6)

# % Passing Reading
school_Passing_reading = round(((school_data_complete.loc[(school_data_complete["reading_score"] >= 70)].groupby(
    ["school_name"])["student_name"].count())/school_student)*100,6)

# % Overall Passing (The percentage of students that passed math and reading.)
school_overall_Passing = round(((school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (
    school_data_complete["reading_score"] >= 70), :].groupby(
    ["school_name"])["student_name"].count())/school_student)*100,6)

# Dataframe
school_summary = pd.DataFrame({
"School Type": school_type,
"Total Students": school_student,
"Total School Budget": school_budget.map(money_format),
"Per Student Budget": per_student_budget.map(money_format),
"Average Math Score":school_average_mass_score,
"Average Reading Score":school_average_reading_score,
"% Passing Mass":school_Passing_math,
"% Passing Reading":school_Passing_reading,
"% Overall Passing":school_overall_Passing})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [14]:
# format change
school_summary_b = pd.DataFrame({
"School Type": school_type,
"Total Students": school_student.map(number_format),
"Total School Budget": school_budget.map(money_format),
"Per Student Budget": per_student_budget.map(money_format),
"Average Math Score":school_average_mass_score.map(round_format),
"Average Reading Score":school_average_reading_score.map(round_format),
"% Passing Mass":school_Passing_math.map(round_format),
"% Passing Reading":school_Passing_reading.map(round_format),
"% Overall Passing":school_overall_Passing.map(round_format)})
school_summary_b

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33

# Top Performing Schools (By % Overall Passing):

* Sort and display the top five performing schools by % overall passing.

In [15]:
#sort top 5
top_performing_school=school_summary_b.sort_values("% Overall Passing", ascending=False)
top_performing_school.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

# Bottom Performing Schools (By % Overall Passing):

* Sort and display the five worst-performing schools by % overall passing.

In [16]:
# sort bottom 5
bottom_performing_school=school_summary_b.sort_values("% Overall Passing", ascending=True)
bottom_performing_school.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54

# Math / Reading Score By Grade:

* Create a table that lists the average Math/Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [17]:
# define function
def ScoreByGrade(j):
    gradelist=["9th","10th","11th","12th"]
    temp_graders_score_concat=pd.DataFrame()
    for i in gradelist:
        temp_graders = school_data_complete.loc[(school_data_complete["grade"] == i)]
        temp_graders_score=temp_graders.groupby(["school_name"])[j].mean().rename(i)
        temp_graders_score_concat=pd.concat([temp_graders_score_concat,temp_graders_score],axis=1)
    return temp_graders_score_concat

* Math Score by grade

In [18]:
# math score
round(ScoreByGrade("math_score"),2)

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

* Reading Score by grade

In [19]:
# reading score
round(ScoreByGrade("reading_score"),2)

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

# Scores by School Spending:

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [20]:
# define bin
spending_range_bins = [0, 585, 630, 645,680]

# define range
spending_range=["<$585", "$585-630", "$630-645", "$645-680"]

# bining
school_summary["Spending Ranges (Per Student)"] = pd.cut(per_student_budget, spending_range_bins, labels=spending_range)

# group by budget
school_spending=school_summary.groupby("Spending Ranges (Per Student)")

# mean specific column
school_spending=round(school_spending[["Average Math Score","Average Reading Score","% Passing Mass",
                       "% Passing Reading","% Overall Passing"]].mean(numeric_only=True),2)
school_spending

,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

# Scores by School Size:

* Perform the same operations as above, based on school size.

In [21]:
# define bin
size_range_bins = [0, 1000, 2000, 5000]

# define range
size_range = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# bining
school_summary["School Size"] = pd.cut(school_student, size_range_bins, labels=size_range)

# group by budget
school_size=school_summary.groupby("School Size")

# mean specific column
school_size=round(school_size[["Average Math Score","Average Reading Score","% Passing Mass","% Passing Reading","% Overall Passing"]].mean(),2)
school_size

,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.86,93.60,96.79,90.62
Large (2000-5000),77.75,81.34,69.96,82.77,58.29

# Scores by School Type:

* Perform the same operations as above, based on school type

In [22]:
school_type=school_summary.groupby("School Type")
round(school_type[["Average Math Score","Average Reading Score","% Passing Mass",
                   "% Passing Reading","% Overall Passing"]].mean(),2)

,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67