In [1]:
# Import Dependencies
import pandas as pd

In [2]:
state_avg_csv = "Resources/state_avg.csv"
state_totals_csv = "Resources/state_totals.csv"

In [3]:
state_avg_df = pd.read_csv(state_avg_csv)
state_totals_df = pd.read_csv(state_totals_csv)

In [4]:
state_avg_df.head()

,Year,State,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County
0,2016,Alabama,40.250746,38834.925373,21232.746269
1,2016,Alaska,36.624138,64801.655172,31052.103448
2,2016,Arizona,39.613333,44166.533333,21786.333333
3,2016,Arkansas,41.140000,37503.720000,20591.666667
4,2016,California,39.281034,58091.241379,29025.793103

In [5]:
state_totals_df.head()

,Year,State,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty
0,2016,Alabama,4841164,2042025.0,184479.0,12150.0,868666.0
1,2016,Alaska,736855,353954.0,30139.0,16382.0,72826.0
2,2016,Arizona,6728577,2879372.0,249972.0,17373.0,1165636.0
3,2016,Arkansas,2968472,1266552.0,93190.0,4445.0,542431.0
4,2016,California,38654206,17577142.0,1683726.0,130452.0,6004257.0

In [ ]:
# Merge the two DataFrames together based on the Year and State they share

In [ ]:
# Create a DataFrame that filters the data on only 2019

In [ ]:
# Add a new column that calculates the Poverty Rate

In [ ]:
# Sort the data by Poverty Rate and Average Per Capita Income by County, Highest to Lowest

# Reset Index

In [ ]:
# Print out the data for the most poverty stricken state or territory

In [ ]:
# Bonus: Print out the data for the least poverty sticken state or territory with one line of code