In [139]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [140]:
import os
cwd = os.getcwd()
cwd

'D:\\Ali\\BootCamp\\Challenge\\Starter_Code-Module_4_Challenge\\Solution\\pandas-challenge\\PyCitySchools'

In [141]:
school_data = pd. read_csv(school_data_to_load,encoding="ISO-8859-1")
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [142]:
Total_Schools=school_data["school_name"].count()
Total_Schools

15

In [143]:
Total_Bud=school_data["budget"].sum()
Total_Budget="${:,.2f}".format(Total_Bud)
Total_Budget

'$24,649,428.00'

In [144]:
formatcorr=lambda x:"${:,.2f}".format(x)
forstu=lambda x:"{:,}".format(x)
formatcorr(Total_Bud)

'$24,649,428.00'

In [145]:
# Read School and Student Data File and store into Pandas DataFrames
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [146]:
Total_Students=student_data["Student ID"].count()
Total_Students_Format=forstu(Total_Students)
Total_Students

39170

In [147]:
Average_Mass_Score=round(student_data["math_score"].mean(),6)
Average_Mass_Score

78.985371

In [148]:
student_data
Average_Reading_Score

81.87784

In [149]:
Overall_Passing_Reading = student_data.loc[student_data["reading_score"] >= 70, :]
Overall_Passing_Reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [150]:
Overall_Reading_Score=Overall_Passing_Reading["Student ID"].count()
Overall_Reading_Score

33610

In [151]:
Percent_Overall_Reading_Score=round((Overall_Reading_Score/Total_Students)*100,6)
Percent_Overall_Reading_Score

85.805463

In [152]:
Overall_Passing_Mass = student_data.loc[student_data["math_score"] >= 70, :]
Overall_Passing_Mass

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [153]:
Overall_Mass_Score=Overall_Passing_Mass["Student ID"].count()
Overall_Mass_Score

29370

In [154]:
Percent_Overall_Mass_Score=round((Overall_Mass_Score/Total_Students)*100,6)
Percent_Overall_Mass_Score

74.980853

In [155]:
Overall_Passing = student_data.loc[(student_data["math_score"] >= 70) & (
    student_data["reading_score"] >= 70), :]
Overall_Passing

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [156]:
Overall_Score=Overall_Passing["Student ID"].count()
Overall_Score

25528

In [157]:
Percent_Overall_Score=round((Overall_Score/Total_Students)*100,6)
Percent_Overall_Score

65.172326

In [158]:
District_Summary=pd.DataFrame({"Total Schools": [Total_Schools], "Total Students": [Total_Students_Format],"Total Budget":[Total_Budget],
                   "Average Mass Score":[Average_Mass_Score],"Average Reading Score":[Average_Reading_Score],"% Passing Mass":[Percent_Overall_Mass_Score],
                              "% Passing Reading":[Percent_Overall_Reading_Score],"% Overall Passing":[Percent_Overall_Score]})
District_Summary.set_index('Total Schools', inplace=True)
District_Summary

,Total Students,Total Budget,Average Mass Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
Total Schools,,,,,,,
15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [159]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [160]:
School_Name=school_data_complete["school_name"].unique()
School_Name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [161]:
School_Stu=school_data_complete["school_name"].value_counts()
School_Stu

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [162]:
per_school_types=school_data.drop(columns=['School ID', 'size'],axis=1)
per_school_types['Total Students'] = School_Stu
per_school_types.set_index('school_name', inplace=True)
per_school_types

                           type   budget  Total Students
school_name
Huang High School      District  1910635             NaN
Figueroa High School   District  1884411             NaN
Shelton High School     Charter  1056600             NaN
Hernandez High School  District  3022020             NaN
Griffin High School     Charter   917500             NaN
Wilson High School      Charter  1319574             NaN
Cabrera High School     Charter  1081356             NaN
Bailey High School     District  3124928             NaN
Holden High School      Charter   248087             NaN
Pena High School        Charter   585858             NaN
Wright High School      Charter  1049400             NaN
Rodriguez High School  District  2547363             NaN
Johnson High School    District  3094650             NaN
Ford High School       District  1763916             NaN
Thomas High School      Charter  1043130             NaN

In [163]:
per_school_typess = school_data.set_index(["school_name"])["type"]
per_school_typess

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [164]:
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [165]:
Per_Student_Budget = per_school_budget / School_Stu
Per_Student_Budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [178]:
SchoolScore=school_data_complete.groupby(["school_name"]).mean()
SchoolScore

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [172]:
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [176]:
School_Average_Mass_Score=school_data_complete.groupby(["school_name"])["math_score"].mean()
School_Average_Mass_Score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [180]:
School_Average_Reading_Score=school_data_complete.groupby(["school_name"])["reading_score"].mean()
School_Average_Reading_Score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [194]:
journal_subs3 = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_reading = journal_subs3.groupby(["school_name"])["student_name"].count()
Overall_mass_Score1=(per_school_passing_reading/School_Stu)*100
Overall_mass_Score1

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [199]:
journal_subs = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
per_school_passing_math = journal_subs.groupby(["school_name"])["student_name"].count()
per_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [193]:
Overall_mass_Score2=(per_school_passing_math/School_Stu)*100
Overall_mass_Score2

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [202]:
Overall_Passing = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (
    school_data_complete["reading_score"] >= 70), :]
per_school_passing_Overall = Overall_Passing.groupby(["school_name"])["student_name"].count()
per_school_passing_Overall

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [203]:
Overall_mass_Score3=(per_school_passing_Overall/School_Stu)*100
Overall_mass_Score3

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [204]:
per_school_summary_df = pd.DataFrame({
"School Type": per_school_typess,
"Total Students": School_Stu,
"Total School Budget": per_school_budget,
"Per Student Budget": Per_Student_Budget,
"Average Math Score":School_Average_Mass_Score,
"Average Reading Score":School_Average_Reading_Score,
"% Passing Mass":Overall_mass_Score1,
"% Passing Reading":Overall_mass_Score2,
"% Overall Passing":Overall_mass_Score3})
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,81.933280,66.680064,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,97.039828,94.133477,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,80.739234,65.988471,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,79.299014,68.309602,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,97.138965,93.392371,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,80.862999,66.752967,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,96.252927,92.505855,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,81.316421,65.683922,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,81.222432,66.057551,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,95.945946,94.594595,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,80.220055,66.366592,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,95.854628,93.867121,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,97.308869,93.272171,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,96.539641,93.867718,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,96.611111,93.333333,90.333333

In [206]:
Top_Performing_School=per_school_summary_df.sort_values("% Overall Passing", ascending=False)
Top_Performing_School.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,97.039828,94.133477,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,97.308869,93.272171,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,97.138965,93.392371,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,96.539641,93.867718,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,95.945946,94.594595,90.540541

In [207]:
Bottom_Performing_School=per_school_summary_df.sort_values("% Overall Passing", ascending=True)
Bottom_Performing_School.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Mass,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,80.220055,66.366592,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,80.739234,65.988471,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,81.316421,65.683922,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,80.862999,66.752967,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,81.222432,66.057551,53.539172

# Math Scores by Grade

In [243]:
grade_Average_Reading_Score=school_data_complete.groupby(["grade","school_name"]).mean()
grade_Average_Reading_Score

                               Student ID  reading_score  math_score  \
grade school_name
10th  Bailey High School     20365.058918      80.907183   76.996772
      Cabrera High School    16909.487124      84.253219   83.154506
      Figueroa High School    4332.703801      81.408912   76.539974
      Ford High School       36122.879944      81.262712   77.672316
      Griffin High School    12983.711823      83.706897   84.229064
      Hernandez High School   9930.783211      80.660147   77.337408
      Holden High School     23076.342105      83.324561   83.429825
      Huang High School       1450.796610      81.512386   75.908735
      Johnson High School    32467.993480      80.773431   76.691117
      Pena High School       23769.208000      83.612000   83.372000
      Rodriguez High School  28050.171154      80.629808   76.612500
      Shelton High School     6748.301339      83.441964   82.917411
      Thomas High School     38346.368171      84.254157   83.087886
      Wilson High School     14884.930693      84.021452   83.724422
      Wright High School     25122.296296      83.812757   84.010288
11th  Bailey High School     20345.148681      80.945643   77.515588
      Cabrera High School    16955.047718      83.788382   82.765560
      Figueroa High School    4424.478138      80.640339   76.884344
      Ford High School       36212.534143      80.403642   76.918058
      Griffin High School    12983.038781      84.288089   83.842105
      Hernandez High School   9948.641544      81.396140   77.136029
      Holden High School     23046.883495      83.815534   85.000000
      Huang High School       1458.094313      81.417476   76.446602
      Johnson High School    32378.549249      80.616027   77.491653
      Pena High School       23742.605469      84.335938   84.328125
      Rodriguez High School  28048.515905      80.864811   76.395626
      Shelton High School     6742.453883      84.373786   83.383495
      Thomas High School     38345.636145      83.585542   83.498795
      Wilson High School     14855.539232      83.764608   83.195326
      Wright High School     25147.331034      84.156322   83.836782
12th  Bailey High School     20386.724708      80.912451   76.492218
      Cabrera High School    16924.570681      84.287958   83.277487
      Figueroa High School    4414.922705      81.384863   77.151369
      Ford High School       36153.562152      80.662338   76.179963
      Griffin High School    12977.143836      84.013699   83.356164
      Hernandez High School   9978.563966      80.857143   77.186567
      Holden High School     23041.108434      84.698795   82.855422
      Huang High School       1485.035897      80.305983   77.225641
      Johnson High School    32414.657051      81.227564   76.863248
      Pena High School       23733.342541      84.591160   84.121547
      Rodriguez High School  28023.722433      80.376426   77.690748
      Shelton High School     6740.566038      82.781671   83.778976
      Thomas High School     38360.289941      83.831361   83.497041
      Wilson High School     14860.597315      84.317673   83.035794
      Wright High School     25115.626016      84.073171   83.644986
9th   Bailey High School     20344.481481      81.303155   77.083676
      Cabrera High School    16969.634470      83.676136   83.094697
      Figueroa High School    4397.878505      81.198598   76.403037
      Ford High School       36170.595438      80.632653   77.361345
      Griffin High School    13031.305623      83.369193   82.044010
      Hernandez High School   9928.620839      80.866860   77.438495
      Holden High School     23068.314961      83.677165   83.787402
      Huang High School       1445.726303      81.290284   77.027251
      Johnson High School    32399.975714      81.260714   77.187857
      Pena High School       23766.127273      83.807273   83.625455
      Rodriguez High School  28017.408076      80.993127   76.859966
      Shelton High School     6750.615094      84.122642   83.420755
      Thomas High School     38356.793926      83.728850   83.590022
      Wilson High School     14879.667195      83.939778   83.085578
      Wright High School     25152.370588      83.833333   83.264706

                             School ID    size     budget
grade school_name
10th  Bailey High School           7.0  4976.0  3124928.0
      Cabrera High School          6.0  1858.0  1081356.0
      Figueroa High School         1.0  2949.0  1884411.0
      Ford High School            13.0  2739.0  1763916.0
      Griffin High School          4.0  1468.0   917500.0
      Hernandez High School        3.0  4635.0  3022020.0
      Holden High School           8.0   427.0   248087.0
      Huang High School            0.0  2917.0  1910635.0
      Johnson High School         12.0  4761.0  3094650.0
      Pena High School             9.0   962.0   585858.0
      Rodriguez High School       11.0  3999.0  2547363.0
      Shelton High School          2.0  1761.0  1056600.0
      Thomas High School          14.0  1635.0  1043130.0
      Wilson High School           5.0  2283.0  1319574.0
      Wright High School          10.0  1800.0  1049400.0
11th  Bailey High School           7.0  4976.0  3124928.0
      Cabrera High School          6.0  1858.0  1081356.0
      Figueroa High School         1.0  2949.0  1884411.0
      Ford High School            13.0  2739.0  1763916.0
      Griffin High School          4.0  1468.0   917500.0
      Hernandez High School        3.0  4635.0  3022020.0
      Holden High School           8.0   427.0   248087.0
      Huang High School            0.0  2917.0  1910635.0
      Johnson High School         12.0  4761.0  3094650.0
      Pena High School             9.0   962.0   585858.0
      Rodriguez High School       11.0  3999.0  2547363.0
      Shelton High School          2.0  1761.0  1056600.0
      Thomas High School          14.0  1635.0  1043130.0
      Wilson High School           5.0  2283.0  1319574.0
      Wright High School          10.0  1800.0  1049400.0
12th  Bailey High School           7.0  4976.0  3124928.0
      Cabrera High School          6.0  1858.0  1081356.0
      Figueroa High School         1.0  2949.0  1884411.0
      Ford High School            13.0  2739.0  1763916.0
      Griffin High School          4.0  1468.0   917500.0
      Hernandez High School        3.0  4635.0  3022020.0
      Holden High School           8.0   427.0   248087.0
      Huang High School            0.0  2917.0  1910635.0
      Johnson High School         12.0  4761.0  3094650.0
      Pena High School             9.0   962.0   585858.0
      Rodriguez High School       11.0  3999.0  2547363.0
      Shelton High School          2.0  1761.0  1056600.0
      Thomas High School          14.0  1635.0  1043130.0
      Wilson High School           5.0  2283.0  1319574.0
      Wright High School          10.0  1800.0  1049400.0
9th   Bailey High School           7.0  4976.0  3124928.0
      Cabrera High School          6.0  1858.0  1081356.0
      Figueroa High School         1.0  2949.0  1884411.0
      Ford High School            13.0  2739.0  1763916.0
      Griffin High School          4.0  1468.0   917500.0
      Hernandez High School        3.0  4635.0  3022020.0
      Holden High School           8.0   427.0   248087.0
      Huang High School            0.0  2917.0  1910635.0
      Johnson High School         12.0  4761.0  3094650.0
      Pena High School             9.0   962.0   585858.0
      Rodriguez High School       11.0  3999.0  2547363.0
      Shelton High School          2.0  1761.0  1056600.0
      Thomas High School          14.0  1635.0  1043130.0
      Wilson High School           5.0  2283.0  1319574.0
      Wright High School          10.0  1800.0  1049400.0

In [242]:
grouped.filter(["grade"] == "9th")

TypeError: 'bool' object is not callable

In [310]:
ninth_graders = school_data_complete.loc[(school_data_complete["grade"] == "9th")]
ninth_graders_Score=ninth_graders.groupby(["school_name"])["math_score"].mean()
ninth_graders_Score

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

# Mass Score By Grade / Reading Score By Grade

In [321]:
gradelist=["9th","10th","11th","12th"]
temp_graders_Score_concat_Mass=pd.DataFrame()
temp_graders_Score_concat_Reading=pd.DataFrame()
for i in gradelist:
    temp_graders = school_data_complete.loc[(school_data_complete["grade"] == i)]
    temp_graders_Score_Mass=temp_graders.groupby(["school_name"])["math_score"].mean().rename(i)
    temp_graders_Score_Reading=temp_graders.groupby(["school_name"])["reading_score"].mean().rename(i)
    temp_graders_Score_concat_Mass=pd.concat([temp_graders_Score_concat_Mass,temp_graders_Score_Mass],axis=1)
    temp_graders_Score_concat_Reading=pd.concat([temp_graders_Score_concat_Reading,temp_graders_Score_Reading],axis=1)
    #     print(temp_graders_Score_Mass)
    #     print(temp_graders_Score_Reading)

In [322]:
temp_graders_Score_concat_Mass

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [323]:
 temp_graders_Score_concat_Reading

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

Best WAY

In [378]:
def ScoreByGrade(j):
    gradelist=["9th","10th","11th","12th"]
    temp_graders_Score_concat=pd.DataFrame()
    for i in gradelist:
        temp_graders = school_data_complete.loc[(school_data_complete["grade"] == i)]
        temp_graders_Score=temp_graders.groupby(["school_name"])[j].mean().rename(i)
        temp_graders_Score_concat=pd.concat([temp_graders_Score_concat,temp_graders_Score],axis=1)
    return temp_graders_Score_concat

In [379]:
ScoreByGrade("math_score")

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [380]:
ScoreByGrade("reading_score")

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Score by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)